<h1>Prompt Search</h1>

<%= form_tag(prompts_index_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("search") %>
<% end %>

<% @prompts.each do |prompt| %>
    <ul>
        <li>
            <% prompt.highlight.content.each do |part| %>
                <%= part.html_safe %>
            <% end %>
        </li>
    </ul>
<% end %>
